{% extends 'arya/layout.html' %}
{% load static %}
{% load arya_form %}

{% block css %}
    <link rel="stylesheet" href="{% static 'arya/css/form-control.css' %}"/>
{% endblock %}


{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="#">首页</a></li>
        <li class="active">添加数据</li>
    </ol>
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-7">
                <select class="url-choose">
                    <option selected>请选择url</option>
                    {% for url in url_list %}
                        <option value="{{ url }}">{{ url }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>

    <br>

    <div>
        {% show_form form %}
    </div>
{% endblock %}

{% block js %}
    <script>
        //选择下拉框url后，自动填充到url input框
        $('select.url-choose').change(function () {
            var url = $(this).val();
            $('#id_url').val(url);
        })

    </script>
{% endblock %}


