{% load static %}
{% load arya_form %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'arya/plugins/bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'arya/css/commons.css' %}"/>
    {% block css %}{% endblock %}
</head>
<body>

<div class="container">
    <h3>添加数据</h3>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-7">
                <select class="url-choose">
                    <option selected>请选择url</option>
                    {% for url in url_list %}
                        <option value="{{ url }}">{{ url }}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>

    <br>
    {% show_form form %}
</div>

</body>
</html>
